.formacao {
  background: #141414;
  color: #fff;
}

.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1rem;
  line-height: 1.33;
  max-width: 100%;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto p {
  margin-bottom: 1.25rem;
}

.formacao-texto strong {
  color: #fff;
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  position: relative;
  bottom: -5.75rem;
}

.formacao-container::after {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
}

.curso-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3.75rem;
  gap: 1.25rem;
}

.curso {
  padding: 1.5rem;
  background: #000;
  border-radius: 5px;
  max-width: 12.5rem;
  display: flex;
  flex-direction: column;
}

.curso-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  /* margin-bottom: 10px; */
}

.curso-nome {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

.curso-nome::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: relative;
  right: 1.5rem;
  top: 1.25rem;
}

.curso-lista h3 {
  color: #fff;
}

.formacoes h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacoes {
  margin-bottom: 3.75rem;
}

.formacoes li {
  display: flex;
  justify-content: space-between;
}

.formacao-extra {
  color: #fff;
}

.formacao-extra h3 {
  font-size: 1rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  position: relative;
}

.formacao-extra h3::before{
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -2.3rem;
  top: -0.2rem;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.formacao-extra span {
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 5rem 1.25rem;
    gap: 2.5rem;
    bottom: -8.25rem;
  }

  .formacao .subtitulo {
    color: #fff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before{
    position: initial;
    margin-bottom: 0.9rem;
  }
  .curso-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
  }

  .curso {
    max-width: 100%;
  }
}