.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 15%;
  height: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  background: #f5f5f5;
}

.header-menu a:hover {
  color: #fff;
  background-color: #141414;
  border-radius: 4px;
}

@media (max-width:540px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}